extends page.pug

append content
  h3 #{stake}
  if canCreate
    a(href="/calling") Create a Calling
  a(href="/callings") View All Callings
  if canRegister
    a(href="/registration") Send a Registration Invite
  a(href="/history") View History
