extends page.pug

append content
  h2(style="text-align: center;") Unable to locate desired page
  h3(style="text-align: center;") Maybe you were looking for one of these?
  div(style="display: flex; flex-direction: row; justify-content: space-around;")
    a(href="/calling") Create a Calling
    a(href="/callings") View All Callings
