extends page.pug

append head
  script(src="../public/md5.js")
  script.
    "use strict";

    let resettingPassword = false;
    const onResetPassword = () => {
      if (resettingPassword) {
        return;
      }
      if (document.getElementById("passwordInput").value !== document.getElementById("passwordInput2").value) {
        alert("Passwords do not match. Please enter the same password twice.");
        return;
      }
      resettingPassword = true;

      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
          resettingPassword = false;
        }
        else {
          alert("Your password was reset successfully. Please log in using your new password.");
          window.location = "/login";
        }
      });
      oReq.open("DELETE", "/passwordReset/#{code}");
      oReq.send(JSON.stringify({
        code: "#{code}",
        passwordHash: md5(`${document.getElementById("passwordInput").value}`),
      }));
    };

append content
  h1 Reset Password
  .box.vertical-items
    div Password:
    input#passwordInput(type="password" value="" style="width: 220px;")
    div Confirm Password:
    input#passwordInput2(type="password" value="" style="width: 220px;")
    button(onclick="onResetPassword()" style="margin-top: 10px; width: 100px;") Reset Password
