extends page.pug

append head
  script(src="../public/md5.js")
  script.
    // code: "string(32)",
    // passwordHash: "string(32)",
    // email: "email",
    // firstName: "string(45)",
    // lastName: "string(45)",

    const onRegister = () => {
      console.log(md5(document.getElementById("passwordInput").value));
      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status === 200) {
          window.location = "/callings";
        }
        else {
          alert(`Unable to register: ${this.status} ${this.responseText}`);
        }
      });
      oReq.open("POST", "http://localhost:3000/register");
      oReq.send(JSON.stringify({
        firstName: document.getElementById("firstNameInput").value,
        lastName: document.getElementById("lastNameInput").value,
        code: "#{code}",
        email: document.getElementById("emailInput").value,
        passwordHash: md5(`${document.getElementById("passwordInput").value}`),
      }));
    };

append content
  div(style="display: flex; flex-direction: row; justify-content: space-between;")
  h3 Taylorsville Utah North Stake
  
  if valid
    h1 Register
    .box.vertical-items
      div First Name:
      input#firstNameInput(type="text" value="" style="width: 220px;")
      div Last Name:
      input#lastNameInput(type="text" value="" style="width: 220px;")
      div Email:
      input#emailInput(type="email" value="" style="width: 220px;")
      //- TODO: check if both passwords match
      div Password:
      input#passwordInput(type="password" value="" style="width: 220px;")
      div Confirm Password:
      input#passwordInput2(type="password" value="" style="width: 220px;")
      button(onclick="onRegister()" style="margin-top: 10px; width: 100px;") Register
  else
    p This registration code is not valid. Please contact the administrator for a new code.
